@model CatForum.Models.Discussion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<!-- This shows a specific discussion - display a large image -->
<div>
    <h4>Discussion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <!-- If there is an image filename, display the image -->
        @if (!string.IsNullOrEmpty(Model.ImageFilename))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImageFilename)
            </dt>
            <dd class="col-sm-10">
                <!-- Show large image for discussion post -->
                <img src="@Url.Content("~/images/" + Model.ImageFilename)" alt="@Model.Title" class="img-fluid" style="max-width: 400px; height: auto;" />
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DiscussionId">Edit</a>
</div>
