@model IEnumerable<CatForum.Models.Discussion>

@{
    ViewData["Title"] = "My Posts";
}

<h1>My Posts</h1>

<!-- This is where all discussions are listed - display a thumbnail of the image for each -->

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                Image
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                <!-- If there is an image filename, display the image -->
                @if (!string.IsNullOrEmpty(item.ImageFilename))
                {
                    <img src="@Url.Content("~/images/" + item.ImageFilename)" alt="@item.Title" class="img-thumbnail" style="width: 100px; height: 100px;" /> // Adjust thumbnail size as needed
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiscussionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DiscussionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DiscussionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
